---
layout: home
class: home
---

<div class="home__intro">
  <h1 class="home__intro__tagline p-b-s">Sup? I'm Lil. <i class="fa fa-heart-o"></i></h1>
  <p class="home__intro__blurb m-b-s">I am a designer who is curious about communicative design that is systematic and iterative. My specialty lies in the overlap between web, product, and visual design.

  <small class="m-b-s">Oh, and I <a href="{{ site.baseurl }}/about" target="_blank">used to be</a> a competitive Super Smash Brothers player.</small>
  </p>
</div>


<h3 class="home__header--section"><span>Featured Work</span></h3>

<div class="home__carousel m-v-xs">

<!-- <ul class="home__gallery"  data-flickity-options='{"watchCSS": true }'> -->
<ul class="home__gallery">
  {% for post in site.categories.work %}
    {% if post.featured == true %}
      <a href="{{ site.baseurl }}{{ post.id }}" class="home__gallery__cell">
        <li class="home__gallery__cell__item">
        <div class="home__carousel__block">
          <h5 class="home__carousel__title">{{ post.title }}</h5>
          <small class="home__carousel__tags m-b-xxs">{{ post.project.tags | join: ", " }}</small>
        </div>
          <img class="cell-loaded" src="{{ site.baseurl }}/img{{ post.id }}/{{ post.image.featured.src }}" srcset="{{ site.baseurl }}/img{{ post.id }}/{{ post.image.featured.srcset.2x | append: ', ' }}{{ site.baseurl }}/img{{ post.id }}/{{ post.image.featured.srcset.1x }}" sizes="{{ post.image.featured.sizes }}">
      </li>
      </a>
      {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="home__blog__wrapper">
  <h3 class="home__header--section"><span>Latest Blog Posts</span></h3>
{% for post in site.categories.blog %}
  {% if post.featured == true %}
    <article class="home__blog__block p-v-m m-b-xs">  

    <ul class="home__blog__subcategories">
      {% for subcategory in post.subcategories %}
        <li class="home__blog__subcategories__item">{{ subcategory }}</li>
      {% endfor %}
    </ul>
      <a class="home__blog__title" href="{{ site.baseurl }}{{ post.id }}"><h4>{{ post.title }}</h4></a>
      <a class="home__blog__thumbnail" href="{{ site.baseurl }}{{ post.id }}"><img src="{{ site.baseurl }}/img{{ post.thumbnail }}"></a>
    
      <div class="home__blog__details">  
          <time class="home__blog__date">{{ post.date | date: '%B %d, %Y' }}</time>
          <p class="home__blog__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html | truncatewords:30 }}{% endif %}</p>
          <h6><a class="home__blog__cta" href="{{ site.baseurl }}{{ post.id }}">Read more</a></h6>
      </div>
    </article>
    {% endif %}
{% endfor %}
</div>

<div class="home__press__wrapper">
  <h3 class="home__header--section"><span>Select Press</span></h3>
  <ul class="home__press m-t-xxs">
{% assign sorted_press = (site.data.press | sort: 'date' ) %}
{% for press in sorted_press reversed %}
  {% if press.featured == true %}
  <li class="home__press__block">
    <time class="home__press__date">{{ press.date | date: '%B %d, %Y' }}</time>
    <a class="h5 home__press__title" href="{{ press.url }}" target="_blank"><cite>{{ press.title }}
    </cite></a>
    <span class="home__press__organization">{{ press.organization }}</span>
  </li> 
  {% endif %}
{% endfor %}
</ul>
</div>


<div class="home__currently__wrapper">
  <h3 class="home__header--section"><span>Currently</span></h3>
  <ul class="home__currently m-t-s">
  {% for currently in site.data.currently %}
    <li class="home__currently__item m-v-xs">
      <div class="home__currently__item__wrap {{ currently.label }}"> 
        <strong class="m-b-xxs">{{ currently.label | capitalize }}</strong>
        <em>{{ currently.entry}}</em>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>


