---
layout: post
---

<!DOCTYPE html>
<html>

  {% include head.html %}

<div class="post wrapper">
    {% include header.html %}

  <article class="post__content page__content">

    <header class="post__header page__header">
      <ul class="post__subcategories">
        {% for subcategory in page.subcategories %}
          <li class="post__subcategories__item">{{ subcategory }}</li>
        {% endfor %}
        </ul>
      <h2 class="post__title p-t-xxs p-b-xs">{{ page.title }}</h2>
      <p class="post__date">{{ page.date | date: "%B %-d, %Y" }} {% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <div class="post__share">
      <ul class="post__share__list">
      <h6 class="post__share__list__text">Share</h6>
        <a href="https://twitter.com/intent/tweet?text={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | prepend: ' ' | append: ' via @_lilchen '}}{% if page.author %}{{ site.twitter_username | prepend: '@' }}{% endif %}" data-via="_lilchen" target="_blank"><li class="post__share__list__item post__share__list__item--twitter"><span class="fa-stack">
        <i class="fa fa-twitter fa-stack-1x"></i>
        </span></li></a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><li class="post__share__list__item post__share__list__item--facebook"><span class="fa-stack">
        <i class="fa fa-facebook fa-stack-1x"></i>
        </span></li></a>
        <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&name={{ page.title }}&description={{ page.description }}" data-posttype='link' target="_blank"><li class="post__share__list__item post__share__list__item--tumblr"><span class="fa-stack">
        <i class="fa fa-tumblr fa-stack-1x"></i>
        </span></li></a>
      </ul>
    </div>

    <div class="post__article">
      {{ content }}
    </div>

    <div class="post__share--bottom">
      <ul class="post__share--bottom__list">
      <h6 class="post__share--bottom__list__text">Share this post</h6>
        <a class="post__share--bottom__list__item post__share--bottom__list__item--twitter" href="https://twitter.com/share" data-via="_lilchen" target="_blank">
        <li><span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></li>
        </a>
        <a class="post__share--bottom__list__item post__share--bottom__list__item--facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <li><span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span></li></a>
        <a class="post__share--bottom__list__item post__share--bottom__list__item--tumblr" href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&name={{ page.title }}&description={{ page.description }}" target="_blank">
        <li><span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
        </span></li></a>
      </ul>
    </div>

  <div class="post__footer">

    <a href="{{ site.baseurl }}/blog" class="post__navigation">
        <div class="post__navigation--back">
        Back to blog
        </div>
    </a>

  </div>

  </article>


    
  {% include footer.html %}
  </div>



  </body>

  <script>
  $("#sticker").unstick();
</script>

</html>
