---
layout: project
---
<!DOCTYPE html>

<html>

  {% include head.html %}

<div class="project wrapper">
  
  {% include header.html %}

  <article class="project__content page__content">

    <img class="project__image--featured p-b-m" src="{{ site.baseurl }}/img{{ page.id }}/{{ page.image.featured.src }}" srcset="{{ site.baseurl }}/img{{ page.id }}/{{ page.image.featured.srcset.x2 | append: ', ' }}{{ site.baseurl }}/img{{ page.id }}/{{ page.image.featured.srcset.x1 }}" sizes="{{ page.image.featured.sizes }}">
    
    <div class="project__sidebar m-b-s">
    <h3 class="project__title">{{ page.title }}</h3>
    {% if page.site.text or page.site.url != nil %}
    <h6><a class="project__cta" href="{{ page.site.url }}" target="_blank">{{ page.site.text }}</a></h6>
    {% else %}
    {% endif %}
    </div>

    <div class="project__brief m-t-xxs m-b-m">
      {{ page.description }}
    </div>

    <div class="project__summary">
    {{ content }}
      <!-- {{ content | remove: '<p>' | remove: '</p>' }} -->
    </div>

    <aside class="project__info m-t-s">
      <ul class="project__info__details m-b-m">
       <h3 class="project__info__details__category h6 m-b-xxs">Tags</h3>
         {% for tag in page.project.tags %}
            <li class="project__info__details__item m-v-xxs">{{ tag }}</li>
            <!-- <li><a href="{{ site.url }}/work/{{ tag }}/">{{ tag }}</a></li> -->
            <!--This is the linked tag version for when you upgrade your features.-->
         {% endfor %}
       </ul>
       <ul class="project__info__details m-b-m">
       <h3 class="project__info__details__category h6 m-b-xxs">Client</h3>
         {% for client in page.project.client %}
           <li class="project__info__details__item m-v-xxs">{{ client }}</li>
         {% endfor %}
       </ul>
       <ul class="project__info__details m-b-m">
       <h3 class="project__info__details__category h6 m-b-xxs">My Role</h3>
         {% for role in page.project.roles %}
           <li class="project__info__details__item m-v-xxs">{{ role | join: ',' }}</li>
         {% endfor %}
       </ul>
    </aside>

    <div class="project__share m-v-xl">
        <div class="project__share__block">
          <h5 class="project__share__cta">Share this project</h5>

          <a class ="project__share__icon project__share__icon--twitter" href="https://twitter.com/share" data-via="_lilchen" target="_blank"><span class="fa fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>

          <a class ="project__share__icon project__share__icon--facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><span class="fa fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span></a>

          <a class="project__share__icon project__share__icon--tumblr" href="http://www.tumblr.com/share" target="_blank"><span class="fa fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span></a>
        </div>
    </div>


  <div class="project__navigation">
  <!--I swapped next and previous because I reversed post order on project grids page.-->
  {% if page.next_in_category != nil %}
      <a href="{{ site.baseurl }}{{ page.next_in_category.url }}" 
      class="project__navigation__button project__navigation__button--back">
      <div class="project__navigation text-align--right">
        <strong class="project__navigation__text project__navigation__text--back"><span>Back</span></strong>
        <div class="project__navigation__button__title text-align--right p-t-s">{{ page.next_in_category.title }}</div>
      </div></a>
  {% endif %}

  {% if page.previous_in_category != nil %}
      <a href="{{ site.baseurl }}{{ page.previous_in_category.url }}" class="project__navigation__button project__navigation__button--next">
      <div class="project__navigation text-align--left">
        <strong class="project__navigation__text project__navigation__text--next"><span>Next</span></strong>
        <div class="project__navigation__button__title text-align--left p-t-s" >{{ page.previous_in_category.title }}</div>
      </div></a>
  {% endif %}

  </div>
  </article>

  {% include footer.html %}
</div> 
</html>
