// BLOG POST STYLE OVERRIDES

.post__article {

  font-size: 1.14em;

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: inline-block;
  font-family: $secondary-typeface;
  font-weight: bold;
  font-style: $header-font-weight;
  color: $dark-gray;
  width: 100%;
  margin: .3em 0;
}

  h1, .h1 {
    @include responsive-font-size($blog-header-font-size, 2.2, 2.4, 2.6);
  }
  h2, .h2 {
    @include responsive-font-size($blog-header-font-size, 1.8, 2, 2.2);
  }
  h3, .h3 {
    @include responsive-font-size($blog-header-font-size, 1.5, 1.6, 1.7);
  }
  h4, .h4 {
    @include responsive-font-size($blog-header-font-size, 1.2, 1.3, 1.4);
    color: $primary-color;
  }
  h5, .h5 {
    @include responsive-font-size($blog-header-font-size, 1.05, 1.1, 1.2);
    color: $primary-color;
  }
  h6, .h6 {
    @include responsive-font-size($blog-header-font-size, .8, .85, .95);
    color: $primary-color;
    text-transform: uppercase;
  }
  p {
    margin: 0 0 1.2em 0;
    line-height: 1.4em;
    font-size: .94em;
    @include media(max-width $width-medium) {
      font-size: .9em;
    }
  }

  a {
    // font-weight: bold;
  }

  & img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p img {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  div.width--full, div.width--wide {
    margin-bottom: 1em;
  }

  div.width--full, div.width--half, div.width--wide, div.width--2thirds, div.width--1third, div.width--1quarter, div.width--3quarters {
  }

  ul, ol {
    margin: 1em 0 1.2em 1em;    
    font-size: 1.05em;
    font-family: $secondary-typeface;
    list-style-position: outside;
    padding-left: .5em;
    & li {
      margin: .5em 0;
    }
  }

  ul {
    list-style-type: circle;    
  }
  ol {
    list-style-type: decimal;
  }

  blockquote {
    font-weight: bold;
    font-family: $secondary-typeface;
    border-left: 3.5px solid $extra-light-gray;
    font-size: 1.8em;
    line-height: 1.5em;
    padding-left: .7em;
    margin: .8em 0;

    & p {
      color: $secondary-color;
      line-height: 1.1em;
      margin: .5em 0;
    }
    @include media($medium-screen) {
      width: calc(100% + .8em);
    }
    @include media($large-screen) {
      width: calc(100% + 1em);
    }

    & footer {
      font-style: italic;
      font-weight: normal;
      font-size: .7em;
    }
  }

  cite {
    display: block;
    margin-top: -.5em;
    color: $dark-gray;
    font-size: .8em;
    & a {
      color: $dark-gray;
      font-style: normal;
      &:hover {
        color: $light-gray;
      }
    }
    &:before {
      content: "\2014  ";
      margin-left: -.2em;
    }
  }

  code {
    font-family: 'Courier';
    color: $mid-gray;
    padding: 0 .2em;
  }

  .highlight {
    font-size: .9em;
    line-height: 1.4em;
    padding: 1em;
    margin: 1.3em 0;
    word-wrap: normal;
    overflow-x: auto;

    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
  }

  .caption {
    font-size: .68em;
    margin-top: -.85em;
    color: $mid-gray;
    display: block;
    clear: both;
  }

  .bubble {
    background: $extra-light-gray;
    padding: .4em;
    @include border-bottom-radius(2px);
    @include border-top-radius(2px);
  }

  hr {
    border: 1px solid $extra-light-gray;
    margin: .8em 0;

    @include media($medium-screen) {
      margin: 1em 0;
    }
    @include media($large-screen) {
      margin: 1.5em 0;
    }
  }

} // The last bracket!
