* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.1em;
  background: white;
  font-family: $primary-typeface;
}

a {
  text-decoration: none;
  color: $secondary-color;
  @include link-hover;

  &:hover {
    color: $mid-gray;
    @include link-hover;
  }
}

p {
  margin: 0 0 1.1em 0;
  font-size: 1.05em;
  line-height: 1.25em;
  @include media(min-width $width-medium) {
    font-size: .9em;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: inline-block;
  font-family: $secondary-typeface;
  font-weight: bold;
  font-style: $header-font-weight;
  width: 100%;
  line-height: 1.1em;
}

h1, .h1 {
  @include responsive-font-size($header-font-size, 2.4, 2.6, 3);
}
h2, .h2 {
  @include responsive-font-size($header-font-size, 1.8, 2, 2.2);
}
h3, .h3 {
  @include responsive-font-size($header-font-size, 1.5, 1.6, 1.7);
}
h4, .h4 {
  @include responsive-font-size($header-font-size, 1.2, 1.3, 1.4);
}
h5, .h5 {
  @include responsive-font-size($header-font-size, 1, 1, 1.05);
}
h6, .h6 {
  @include responsive-font-size($header-font-size, .73, .75, .85);
  text-transform: uppercase;
}

strong, .strong {
  font-weight: bold;
}

em, .em {
  font-style: italic;
}

small {
  display: inline-block;
  width: 100%;
  font-size: .7em;
  line-height: 1.2em;
  margin: .5em 0;
}

/* Mozilla based browsers */
::-moz-selection {
  background-color: $secondary-color;
  color: white;
}

/* Works in Safari */
::selection {
  background-color: $secondary-color;
  color: white;
}

.text-align {
  &--right {
    text-align: right;
  }
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
}

.display {
  &--ib {
    display: inline-block;
  }
  &--b {
    display: block;
  }
}