---
layout: page
title:  "About"
class: about
---


<div class="about__blurb">

    <h6 class="gray m-b-xs">Design</h6>
    <p>I am a designer who cares about communicative, systematic, and iterative design. Collaboration is a must in the design process. It brings out the best, both in designers <em>and</em> their work.</p>

    <p>I currently work for <a href="http://gaming.youtube.com" target="_blank">YouTube</a> on the Live team and live in San Francisco. Prior to that, I spent three and a half years designing for <a href="http://www.ted.com" target="_blank">TED Talks</a> in New York City.</p>

    <h6 class="gray m-b-xs">Gaming</h6>
    <p>I'm also a semi-retired competitive gamer who hails to you from the competitive Super Smash Brothers Melee community.</p>
    
    <p>After stepping away from competing, I co-founded <a href="http://gamecenter.nyu.edu/event/the-new-meta/" target="_blank">The New Meta</a>, a panel about gender issues women face within competitive gaming spaces. As one of the <a href="http://www.gdconf.com/conference/esports.html" target="_blank">eSports summit advisors</a> at Game Developers Conference, I recently led a panel on growing the participation of women in eSports.</p>

    <p>When possible, I try to tell <a href="https://www.youtube.com/watch?v=orOa-yRL4NI/" target="_blank">my own story</a> to spread awareness around and to promote empathy.</p>

</div><!--blurb-->

<div class="about__sidebar">
    <img class="about__image m-b-s"
      src="{{ site.baseurl }}/img/site/about-photo.jpg"
      srcset="{{ site.baseurl }}/img/site/about-photo@2x.jpg 2x,
              {{ site.baseurl }}/img/site/about-photo.jpg 1x"
         sizes="100%"  
         alt="milktea photo">
    <!-- <p class="caption p-t-xs f--r">I miss my blonde hair!</p> -->
</div><!--sidebar-->

<ul class="about__contact m-v-s">
        <a class="about__contact__button about__contact__button--email" href="mailto:{{ site.email }}">
        <li><i class="about__contact__button__icon fa fa-envelope"></i> <strong>Email me.</strong></li></a>
        <a class="about__contact__button about__contact__button--tweet" href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
        <li><i class="about__contact__button__icon fa fa-twitter"></i> <strong>Tweet me.</strong></li></a>
</ul>
  
<div class="about__list__wrapper m-t-l">    
    <ul class="about__list m-b-m">
    <h5 class="about__list__header m-b-s"><span>Press</span></h5>


{% assign sorted_press = site.data.press | sort_by:date %}
{% for press in sorted_press reversed %}
    {% if press.published == true %}
        <li class="about__list__block">
        <time class="about__list__date">{{ press.date | date: '%B %d, %Y' }}</time>
            <a class="h5 about__list__title" href="{{ press.url }}" target="_blank"><cite>{{ press.title }}</cite></a>
        <em class="about__list__organization">{{ press.organization }}</em>
        </li>
    {% endif %}
  {% endfor %}
    </ul>

    <ul class="about__list">
    <h5 class="about__list__header m-b-s"><span>Speaking</span></h5>
{% assign sorted_speaking = site.data.speaking | sort_by:date %}
{% for speaking in sorted_speaking reversed %}
      <li class="about__list__block">
        <time class="about__list__date">{{ speaking.date | date: '%B %d, %Y' }}</time>
        <a class="h5 about__list__title" href="{{ speaking.url }}" target="_blank">{{ speaking.title }}</a>
        <span class="about__list__organization">{{ speaking.organization }}</span>
      </li>
  {% endfor %}
    </ul>

</div>