// COLORS

$primary-color: rgba(0, 0, 0, 1);
$secondary-color: rgba(255, 100, 93, 1);

$extra-light-gray: lighten(gray, 40%);
$light-gray: lighten(gray, 20%);
$mid-gray: lighten(gray, 12%);
$dark-gray: darken(gray, 5%);

$facebook-color: rgb(59,89,153);
$twitter-color: rgb(85,172,238);
$tumblr-color: rgb(53,70,92);

// LAYOUT

$site-header-height: 2.8em;
$page-padding: 1.5rem;
$page-base-padding: 0em;
$nav-color: white;
$subcategory-block-color: $dark-gray;
$subcategory-type-color: white;

// TYPOGRAPHY

$blog-header-font-size: 1.15rem;
$header-font-size: 1.2rem;
$header-font-weight: 800;

// FONTS

// $primary-typeface: 'Noto Sans';
$primary-typeface: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$secondary-typeface: 'Source Sans Pro', Helvetica, Arial, sans-serif;