// FUNCTIONS

@mixin responsive-font-size($variable, $multiple-s, $multiple-m, $multiple-l) {
  font-size: $variable * $multiple-s;

  @include media($medium-screen) {
    font-size: $variable * $multiple-m;
  }
  @include media($large-screen) {
    font-size: $variable * $multiple-l;
  }
}