 <article class="blog__posts--full__block">
      <ul class="blog__posts--full__subcategories">
        {% for subcategory in post.subcategories %}
          <li class="blog__posts--full__subcategories__item">{{ subcategory }}</li>
        {% endfor %}
        </ul>

        <a class="blog__posts--full__title p-t-xxs" href="{{ site.baseurl }}{{ post.id }}"><h3>{{ post.title }}</h3></a>
        <time class="blog__posts--full__date m-t-xs p-b-xxs">{{ post.date | date: "%B %-d, %Y" }}</time>
        <p class="blog__posts--full__description p-t-xxs">{{ post.description }}</p>
        <a class="blog__posts--full__thumbnail" href="{{ site.baseurl }}{{ post.id }}">
        <img src="{{ site.baseurl }}/img{{ post.thumbnail }}"></a>

        <a class="blog__posts--full__cta" href="{{ site.baseurl }}{{ post.id }}">Read more</a>
</article>