<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="{% if page.thumbnail %}article{% elsif page.image.featured %}article{% else %}website{% endif %}" >
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" rel="image_src" type="image/jpeg" content="{% if page.thumbnail != nil %}{{ page.thumbnail | prepend: '/img' | prepend: site.baseurl | prepend: site.url }}{% elsif page.image.featured %}{{ page.image.featured.src | prepend: '/' | prepend: page.id | prepend: '/img' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.avatar | prepend: '/img/site/' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.locale }}">
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="https://twitter.com/{{ site.twitter_username }}">
  {% for post in site.related_posts limit:3 %}
    <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
  {% endif %}
  
  <meta property="fb:admins" content="{{ site.fb_admins }}">
  <meta property="fb:app_id" content="{{ site.fb_appid }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.thumbnail != nil %}{{ page.thumbnail | prepend: '/img' | prepend: site.baseurl | prepend: site.url }}{% elsif page.image.featured %}{{ page.image.featured.src | prepend: '/' | prepend: page.id | prepend: '/img' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.wide_avatar | prepend: '/img/site/' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/flickity/flickity.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/responsive-nav/responsive-nav.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/sticky/jquery.sticky.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/back-to-top/min/main-min.js"></script>

</head>

{% if page.class == 'home' %}
  {% for announcement in site.data.announcement %}
    {% if announcement.publish == true %}
    <a href="{{ announcement.url }}" class="site__announcement" target="_blank">
    <strong>{{ announcement.text }}</strong>
    </a>
    {% endif %}
  {% endfor %}
{% endif %}

<body>