
body {
  min-width: $width-smallest;
}

hr {
  width: 100%;
  display: inline-block;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 1);
  margin: 1em 0;

    @include media($medium-screen) {
      margin: 1.5em 0;
    }
    @include media($large-screen) {
      margin: 2em 0;
    }
}

.wrapper {
  @include outer-container();
  max-width: 100%;

  @include media(max-width $width-medium) {
    display: inline-block;
  }
  @include media($medium-screen) {
    @include outer-container($width-large);
    }
  @include media($large-screen) {
    @include outer-container($width-largest);
    }
}

.site {
  &__header {
    padding: 0;
    // padding: 0 $page-padding;
    font-family: $secondary-typeface;
    font-weight: bold;
    height: $site-header-height;
    @include fill-parent();
    @include outer-container();
    @include media(max-width $width-medium - 1px) {
      // position: fixed;
      background: $nav-color;
      border-bottom: 1px solid $extra-light-gray;
    }
    @include media(min-width $width-medium) {
      margin-top: 1em;
      margin-bottom: 2.5em;
      height: 3.5em;
    }
    @include media($medium-screen) {
      width: percentage(8 / 10);
    }
    @include media($large-screen) {
      width: percentage(10 / 12);

    }
  }

  &__logo {
    z-index: 9999;
    width: percentage(2 / 4);
    float: left; 
    height: 100%;
      @include media($medium-screen) {
        width: percentage(2 / 8);
      }
      @include media($large-screen) {
        width: percentage(3 / 10);
      }
    &__name {
      height: 100%;
      display: block;
      float: left;
      color: $extra-light-gray;
      &:before {
        vertical-align: middle;
        display: inline-block;
        content: "LC";
        padding-left: $page-padding;
        font-size: 20pt;
        line-height: 1.93em;
        @include media($medium-screen) {
          content: "LILCHEN";
          font-size: 20pt;
          line-height: 2.5em;
          padding-left: 0;
        }
        @include media($large-screen) {
          content: "LILCHEN";
          font-size: 20pt;
          line-height: 2.5em;
          padding-left: 0;
        }
      }
      &:hover {
          color: $secondary-color;
        }
    }
  }
  &__announcement {
    font-size: .7em;
    padding: .8em 1em;
    text-align: center;
    background: $secondary-color;
    color: white;
    display: inline-block;
    width: 100%;
    @include transition(padding-left .2s ease-out 0s, background-color .2s ease-out 0s);
    @include media(min-width $width-medium) {
      margin-bottom: .6em;
      font-size: .85em;
    }
    &:hover {
      color: white;
      background: $light-gray;
      @include transition(padding-left .2s ease-out 0s, background-color .2s ease-out 0s);
      &:after {
        padding-left: 1em;
        @include transition(padding-left .2s ease-out 0s);
      }
    }
    &:after {
      color: white;
      content: "\2192";
      font-family: helvetica;
      padding-left: .5em;
      display: inline-block;
      @include transition(padding-left .2s ease-out 0s);
    }
  }
}

// PAGE

.page {
  &__header {
    margin-bottom: 1.2em;
    @include media($medium-screen) {
      margin-bottom: 1.5em;
    }
    @include media($large-screen) {
      margin-bottom: 2em;
    }
  }
  &__title {
    @include line-header;
    font-size: 1.3em;
  }
}

// HOME

.home {

  &__content {    
    @include content;
    }
  
  &__intro {
    display: inline-block;
    @include media($large-screen) {
      width: percentage(9 / 10);
    }
    & .fa { /* color of icon */
      color: $secondary-color;
    }
    &__tagline {
      color: $mid-gray;
      font-size: 2.1em;
      @include media(min-width $width-medium) {
        font-size: 3.5em;
      }
    }
    &__blurb {
      font-weight: normal;
      font-size: 1.4em;
      @include media(min-width $width-medium) {
        font-size: 2.3em;
        margin-bottom: .5em;
      }
    }
  }
  &__header {

    &--section {
      @include line-header;
      @include line-wrap;
      font-size: .9em;
      margin: 1em 0;
    }
  }
  &__carousel {
    display: inline-block;
    // margin-left: -$page-padding;
    // margin-right: -$page-padding;
      @include media(min-width $width-medium) {
        margin-left: 0;
        margin-right: 0;
      }
     @include media($large-screen) {
        padding-top: .2em;
        padding-bottom: .8em;
      }
      &__block {
        // display: none;
        margin-bottom: .5em;
        @include media(min-width $width-medium) {
          display: block;
          position: relative;
          padding-left: 2px;
          width: 100%;
          background: transparent;
        }
      }
      &__title {
        line-height: 100%;
        text-transform: capitalize;
        color: $secondary-color;
        @include media($medium-screen) {
          font-size: .93em;
        }
      }
      &__tags {
        color: $dark-gray;
        font-size: .75em;
        margin: .2em 0;
        text-transform: capitalize;
      }
  }
&__gallery {
  // &:after {
  //   content: 'flickity';
  //   display: none;
  //   @include media(min-width $width-large) {
  //     content: ' ';
  //   }
  // }
  &__cell {
    display: inline-block;
    width: 100%; /* full width */
    height: auto; /* height of gallery */
    margin-right: 10px; /* the margin between images in carousel */
    @include link-hover;
      &:hover .home__carousel__title {
        color: $light-gray;
        @include link-hover;
      }
    @include media(min-width $width-medium) {
      @include span-columns(5 of 10);
    }
    &__item { /* list item */
      margin: .2em 0;
        &:first-child {
          @include media(max-width $width-medium) {
          margin-bottom: 1.8em;
        }
      }
    }
  }
  & img {
    width: 100%;
  }
}
  &__blog { /* .home__blog */
    &__wrapper {
      @include fill-parent();
    }
    &__block {
      display: inline-block;
      border-bottom: 1px solid $extra-light-gray;
      &:last-child {
        border-width: 0;
      }
    }
    &__thumbnail {
      display: block;      
      @include fill-parent();
        @include media(max-width $width-medium) {
          margin: .8em 0;
        }
        @include media($medium-screen) {
          @include span-columns(3 of 8);
          margin-top: -1.35em;
        }
        @include media($large-screen) {
          @include span-columns(4 of 10);
          margin-top: -1.4em;
        }
      & img {
        @include fill-parent();
      }
    }
    &__subcategories { /* .home__blog__subcategories */
      @include media($medium-screen) {
        @include span-columns (5 of 8);
        @include omega();
        float: right;
      }
      @include media($large-screen) {
        @include span-columns (6 of 10);
        @include omega();
        float: right;
      }
      &__item {
        @include subcategory-block-style;
      }
    }
    &__title {
      color: $primary-color;
      @include media($medium-screen) {
        @include span-columns (5 of 8);
        @include omega();
        float: right;
      }
      @include media($large-screen) {
        @include span-columns (6 of 10);
        @include omega();
        float: right;
      }
    }
    &__details {
      @include media($medium-screen) {
        @include span-columns(5 of 8);
        @include omega();
      }
      @include media($large-screen) {
        @include span-columns(6 of 10);
        @include omega();
      }
    }
    &__date {
      display: inline-block;
      @include date-style;
      @include media(min-width $width-medium) {
        margin-top: .6em;
        margin-bottom: .3em;
      }
    }
    &__excerpt {
      margin: 0;
    }
    &__cta {
      @include cta($secondary-color, $secondary-color, white, $secondary-color, $secondary-color, white, $primary-color, $primary-color);
    }
  }
  &__press { /* home */
    @include press-speaking-lists;

    &__block {
      /* These are overrides for rounded-cornered version. */
      // border: 1px solid $light-gray;
      // padding: .8em 1em;
      // @include border-top-radius(5px);
      // @include border-right-radius(5px);
      // @include border-bottom-radius(5px);
      // @include border-left-radius(5px);
      // &:last-child {
      //   border-width: 1px;
      // }
    }
    &__wrapper {
      display: inline-block;
      @include media($medium-screen) {
        @include span-columns(5 of 8);
      }
      @include media($large-screen) {
        @include span-columns(6 of 10);
      }
    }
  }

  &__currently {
    &__wrapper {
    @include fill-parent();
    @include media(min-width $width-medium) {
        @include omega();
      }
      @include media($medium-screen) {
        @include span-columns(3 of 8);
      }
      @include media($large-screen) {
        @include span-columns(3 of 10);
        @include shift(1);
      }
    }

    &__item {
      &__wrap {
        display: inline-block;
        @include fill-parent();
          &:before {
            font-size: 1.5em;
            height: 40px;
            width: 40px;
            font-family: "FontAwesome";
            float: left;
            vertical-align: bottom;
            color: $secondary-color;
        }
        &.playing:before {
          content: "\f11b";  /* Some fancy character */
        }
        &.wanderlusting:before {
          content: "\f0ac";  /* Some fancy character */
        }
        &.watching:before {
          content: "\f03d";  /* Some fancy character */
        }
        &.craving:before {
          content: "\f0f5";  /* Some fancy character */
        }
        &.researching:before {
          content: "\f00e";  /* Some fancy character */
        }
    }
  }
    & strong {
      display: block;
      font-family: $secondary-typeface;
    }
    & em {  
      display: block;
      font-style: none;
      color: $dark-gray;
    }
  }

}

// ABOUT

.about {

  &__content {    
    @include content;
    }
  &__header {
    display: inline-block;
    width: 100%;
    @include line-wrap;
  }
  &__image {
    @include fill-parent();
    display: block;
  }
  &__blurb {
    @include fill-parent();
    @include media(min-width $width-medium) {
      font-size: 1.2em;
    }
    @include media($medium-screen) {
      @include span-columns(5 of 8);
    }
    @include media($large-screen) {
      @include span-columns(5 of 10);
    }
  }
  &__sidebar {
    @include fill-parent();
    @include media($medium-screen) {
      @include span-columns(3 of 8);
        @include omega();
        float: right;
    }
    @include media($large-screen) {
      @include span-columns(5 of 10);
        @include omega();
        float: right;
    }
}
  &__contact { /* ul for the two buttons */
    @include media($medium-screen) {
      @include fill-parent();
      display: inline-block;
    }
    @include media($large-screen) {
      @include span-columns(5 of 10);
    }
    &__button {
      @include fill-parent();
      display: inline-block;
      padding: 1.5em 0;
      margin: .2em 0;
      text-align: center;
      border: 3px solid $primary-color;
      color: $primary-color;
      @include border-top-radius(5px);
      @include border-right-radius(5px);
      @include border-bottom-radius(5px);
      @include border-left-radius(5px);
      @include transition(color .3s ease-out 0s);
      @include transition(background-color .3s ease-out 0s);

      @include media($medium-screen) {
        @include span-columns(4 of 8);
        padding: 1.2em 0;
      }

      @include media($large-screen) {
        @include span-columns(4 of 8);
        padding: 1em 0;
        margin-top: .5em;
      }
      &:hover {
        color: white;
        @include transition(color .3s ease-out 0s);
        @include transition(background-color .3s ease-out 0s);
        & .about__contact__button__icon {
          color: white;
        }
      }
      &--email:hover {
        background: $light-gray;
      }
      &--tweet:hover {
        background: $twitter-color;
      }
      &__icon {
        color: $secondary-color;
      }
    }
  }
  &__list {
      @include media($medium-screen) {
        @include fill-parent();
      }
      @include media($large-screen) {
        @include omega(2n);
        @include span-columns(5 of 10);
      }
    &__wrapper {
        display: inline-block;
      }
    &__header {
      @include line-header;
      @include line-wrap;
      font-size: 1.2em;
    }
    @include press-speaking-lists;
  }
}

// PROJECT PAGE

.project {

  &__content {
    @include content;
    }
  &__header {
    width: 100%;
    display: inline-block;
    margin-bottom: .3em;
  }
  &__image--featured {
      margin-bottom: .8em;
      @include fill-parent();

      @include media($medium-screen) {
        @include span-columns(9 of 8);
        @include shift(-.5);
      }
      @include media($large-screen) {
        @include span-columns(11 of 10);
        @include shift(-.5);
      }
      & img {
        @include fill-parent();
      }
    }
   &__sidebar {
    display: inline-block;
    @include media($medium-screen) {
      @include fill-parent();
    }
    @include media($large-screen) {
      @include span-columns(3 of 10);
      @include shift(1);
    }
  } 
  &__title {
    color: $secondary-color;
  }
  &__cta {
    @include cta($light-gray, $light-gray, white, $secondary-color, $secondary-color, white, $dark-gray, $primary-color);
    // @include cta($secondary-color, $secondary-color, white, $secondary-color, $secondary-color, white);
    @include media($medium-screen) {
      // @include shift(.5 of 8);
    }
  }
  &__brief {
    @include fill-parent();

      @include media($medium-screen) {
        @include span-columns(7 of 8);
        @include shift(.5);
      }
      @include media($large-screen) {
        @include span-columns(5 of 10);
        @include omega();
      }
  }
  &__summary {
    text-align: center;
    @include fill-parent();
    float: left;
      @include media($large-screen) {
        @include span-columns(8 of 10);
        @include shift(1);
      }
    & img {
      max-width: 100%;
      padding: .5em 0; /* using padding to not mess up bourbon neat */
      @include media(min-width $width-medium) {
        padding: 1em 0;
      }
    }
  }
  &__text-wrap {
    clear: both;
    text-align: left;
    display: inline-block;
    margin-top: .5em;
    @include media($medium-screen) {
      width: percentage(7 / 8);
    }
    @include media($large-screen) {
      width: percentage(6 / 8);
    }
    @include standard-lists;
  }
  &__info {
    @include fill-parent();
    display: inline-block;
    text-transform: capitalize;
      @include media($large-screen) {
        @include span-columns(8 of 10);
        @include shift(1);
      }
      &__details {
        &__category {
          color: $mid-gray;
        }
        &__item {
          font-size: .85em;
          padding: .1em 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        @include media($medium-screen) {
          @include span-columns(2 of 8);
        }
        @include media($large-screen) {
          @include span-columns(2 of 8);
        }
      }
  }
 &__share {        
  display: inline-block;
  border: 4px solid $primary-color;
  padding: 1em .8em;
  @include fill-parent();
      @include media($large-screen) {
        @include span-columns(6 of 10);
        @include shift(2);
        padding: .9em .8em;
      }
    &__block {
      text-align: left;
      @include media(min-width $width-medium) {
        text-align: center;
      }
    }
    &__cta {
      display: inline-block;
      text-align: left;
      margin-bottom: .5em;

      @include media($medium-screen) {
        width: auto;
      }
      @include media($large-screen) {
        width: auto;
      }
      &:after {
        content: "\2015";
        padding: 0 .5em;
      }
    }
    &__icon {
      color: $light-gray;
      font-size: 1.3em;
      margin-right: .5em;
      @include media(min-width $width-medium) {
        font-size: 1em;
      }
      &--twitter {
          color: $twitter-color;
      }
      &--facebook {
          color: $facebook-color;
      }
      &--tumblr {
          color: $tumblr-color;
      }
    }    
  }
  &__navigation { /* blog bottom back/next nav */
    @include fill-parent();
    display: inline-block;
    @include media(min-width $width-medium) {
        @include fill-parent();
        padding: 0;
      }
      @include media($large-screen) {
        margin-top: 1em;
      }
    &__button {
      margin: 1em 0;
      height: auto;
      padding: 1em 0;
      @include span-columns(2 of 4);
        @include media($medium-screen) {
          @include span-columns(2.5 of 8);
        }
        @include media($large-screen) {
          @include span-columns(2 of 8);
          padding: 0;
        }
       &--next {
          float: right;
          @include media($large-screen) {
            @include shift(2);
          }
        }      
        &:hover {
          & .project__navigation__button__title {
            color: $secondary-color;
            @include link-hover;
          }
        & .project__navigation__text {
            color: $secondary-color;
            @include link-hover;
          }
        }
      &__title {
        margin: 1em 1em;
        font-size: .85em;
        line-height: 1.3em;
        color: $mid-gray;
        @include media(max-width $width-small) {
          display: none;
        }
      }
    } 
    &__text {
      width: 100%;
      color: $primary-color;
      @include media(max-width $width-small) {
        padding: 0 1em;
        font-size: 1.3em;
        color: $mid-gray;
      }
      @include media(min-width $width-small) {
        @include line-wrap-custom($primary-color, 1px, .8em);
      }
      &--back {
        float: right;
        text-align: right;
        @include media(max-width $width-small) {
          text-align: left;
          }
        &:before {
          @include media(max-width $width-small) {
            font-family: 'FontAwesome';
            font-weight: normal;
            content: "\f053";
            color: $primary-color;
          }
        }
        & span {
          padding: 0 .8em;
        }
      }
      &--next {
        float: left;
        text-align: left;
        @include media(max-width $width-small) {
          text-align: right;
          }
        &:after {
          @include media(max-width $width-small) {
            font-family: 'FontAwesome';
            font-weight: normal;
            content: "\f054";
            color: $primary-color;
          }
        }
        & span {
          padding: 0 .8em;
        }
        @include media(max-width $width-small) {
          background: transparent;
        }
      }
    }
  }
  & .width--wide { /* This is what centers wide images on the project page specifically.*/
    @include media($large-screen) {
      @include shift(-1 of 8);
    }
  }
}

// PROJECT GRID

.project__grid {
  
  &__content {    
    @include content;
    padding-left: 0;
    padding-right: 0;
    }
  &__header {
    @include line-wrap;
    @include media(max-width $width-medium - 1px) {
      margin-left: $page-padding;
      margin-right: $page-padding;
    }
  }
  &__list {
    list-style: none;
    line-height: 0;
    display: inline-block;
    @include fill-parent();
  }
  &__block { /* list item */
    float: left;
    height: auto;
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: .8em;

      @include media($medium-screen) {
        margin-bottom: 1.5em;
      }
      @include media($large-screen) {
        margin-bottom: 2em;
      }

    &__info { /* the div that fades in over thumbnail */
      padding: 1em 2.5em;
      position: absolute;
      background: $secondary-color;
      color: $primary-color;
      backface-visibility: hidden;
      @include transition(opacity 0.3s ease-in-out);
      opacity: 0;
      line-height: 1.5em;
      top: 0;
      height: 100%;
      width: 100%;
        @include media(max-width $width-large - 1px) {
          top: 20px;
          left: 20px;
          height: calc(100% - 40px);
          width: calc(100% - 40px);
          border: 4px solid $primary-color;
          padding: .5em 2em;
        }
        @include media($large-screen) {
          right: 0;
          float: right;
          width: percentage(4 / 10);
          text-align: left;
          backface-visibility: hidden;
          transition: transform 0.3s, opacity 0.3s;
          opacity: 1;
          border-left: 6px solid black;
        }

      &--wrapped {
        margin-top: 10%;
        @include media($large-screen) {
          margin-top: 8%;
        }
      }

    &:hover {
      opacity: .92;

     & .project__grid__block__cta {
        background-color: white;
        color: black;
        border: 3px solid $primary-color;
        @include cta-transition;
        &:after {
          padding-left: .8rem;
        }
      }
    }  
  }
    &__link {
      width: 100%;
      height: 100%;
      float: left;
    }
    &__title {
      font-size: 1.8rem;
      line-height: 1.1em;
      width: 100%;
      margin: .5rem 0 0 0;
      @include media(max-width $width-small) {
        font-size: 1.1em;
      }
    }
    &__tags {
      display: block;
      font-size: .9em;
      line-height: 1.3em;
      text-transform: capitalize;
      margin: .3em 0;
      @include media(max-width $width-small) {
        font-size: .85em;
        margin: 0 0;
      }
    }
    &__cta { /* VIEW PROJECT cta */
      display: block;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      font-size: .8em;
      bottom: 10%;
      @include cta(black, black, transparent, black, black, white, black, black);

      @include media($tiny-screen) {
        font-size: .5em;
        bottom: 10%;
      }
      @include media($medium-screen) {
        font-size: .8em;
        bottom: 13%;
      }
      @include media($large-screen) {
        bottom: 10%;
      }
    }
    &__blurb {
      display: none;
        @include media($large-screen) {
          display: block;
        }
    }
  }

  &__thumbnail img {
    @include fill-parent();
    padding: 0;
    @include media($large-screen) {
      width: percentage(6 / 10);
      float: left;
    }
  }
  &__thumbnail figure {
    margin: 0;
    position: relative;
    & img {
      display: block;
      position: relative;
    }
  }
}

// BLOG

.blog {

  &__content {    
    @include content;
    }
  &__header {
    @include line-wrap;

    &__subcategory {
      color: $dark-gray;
      font-weight: normal;
    }
  }
  &__sidebar {
    @include fill-parent();
    padding-top: 1.5em;
    border-top: 2px solid $primary-color;
    @include media(min-width $width-large) {
      border-top: 0;
    }
    @include media($large-screen) {
     @include span-columns(2.5 of 10);
     @include shift(.5);
    }
    &__subcategories { /* Subcategory sidebar on blog */

      &__item {
        display: inline-block;
        width: 100%;
        text-transform: capitalize;
        border-bottom: 0;
        padding: .5em 0;
        color: $mid-gray;
        @include media(min-width $width-medium) {
          font-size: .8em;
          padding: .8em 0 .8em .2em;
          border-bottom: 1px solid $light-gray;
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          color: $extra-light-gray;
        }
      }
    }
  }
  &__posts {

    &__column {

    @include media($large-screen) {
      @include span-columns(7 of 10);
      }
  }

    &--full { /* block */

      &__block {
        border-bottom: 1px solid $light-gray;
        padding: 2em 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-of-type {
          border-bottom: 0;
        }
        & img {
          @include fill-parent();
         }
      }
      &__subcategories {

        &__item {
          @include subcategory-block-style;
        }
      }
      &__title {
        display: inline-block;
        width: 100%;
        color: $primary-color;
      }
      &__date {
        display: inline-block;
        @include date-style;
      }
      &__thumbnail {
      }
      &__cta {
        @include cta($secondary-color, $secondary-color, white, $secondary-color, $secondary-color, white, $primary-color, $primary-color);
        @include cta-transition;
      }
    }
    &--condensed {
      display: block;
      border-top: 1px solid $light-gray;
      @include fill-parent();
      display: inline-block;

      &__li {
        display: inline-block;
        padding: 1.5em 0 0em 0;
        border-bottom: 1px solid $light-gray;
        &:last-child {
          border-bottom: 0px;
          margin-bottom: 1.2em;
        }
      }
      &__thumbnail {
          @include span-columns(1.5 of 4);

          @include media($medium-screen) {
            @include span-columns(3 of 8);
          }
          @include media($large-screen) {
            @include span-columns(2 of 6);
          }
          & img {
            @include fill-parent();
          }
      }
      &__block {
        display: inline-block;
        @include span-columns(2.5 of 4);

        @include media($medium-screen) {
          @include span-columns(5 of 8);
        }
        @include media($large-screen) {
          @include span-columns(4 of 6);
        }
      }
      &__subcategories {
        &__item {
          @include subcategory-block-style;
        }
      }
      &__title {
        color: $primary-color;
        width: 100%;
      }
      &__date {
        display: inline-block;
        width: 100%;
        @include date-style;
      }
      &__cta {
        @include cta($secondary-color, $secondary-color, white, $secondary-color, $secondary-color, white, $primary-color, $primary-color);
        @include cta-transition;
      }
    }
  }
}

// POST

.post {

  &__content {    
    @include content;
  }
  & img {
    max-width: 100%;
  }
  &__header {
    display: inline-block;
    border-bottom: 1px solid $extra-light-gray;
    width: 100%;
    margin-bottom: 1.5em;
    @include media(min-width $width-medium) {
      margin-bottom: 2em;
    }
    @include media($large-screen) {
      @include span-columns(8 of 10);
      @include shift(1);
      float: none;
    }
  }
  &__subcategories {
    &__item {
      @include subcategory-block-style;
    }
  }
  &__date {
    @include date-style;
  }
  &__title {
    color: $primary-color;
  }
  &__article {
    @include fill-parent();

    @include media($medium-screen) {
      @include span-columns(7 of 8);
      float: right;
      @include omega();
    }
    @include media($large-screen) {
      @include span-columns(7 of 10);
      @include shift(1);
    }
  }
  &__share { /* wrapper around share buttons on .post */
    display: inline-block;
    @include fill-parent();
    clear: both;
    display: none;
    @include media($medium-screen) {
      @include span-columns(1 of 10);
    }
    @include media($large-screen) {
      @include span-columns(1 of 10);
      position: absolute;
      }

    &__sticky {
      @include transition(none);
      height: auto !important; /* prevents height auto-adapting to whatever it was on load */

      @include media($medium-screen) {
        @include span-columns(1 of 8);
      }
      @include media($large-screen) {
        @include span-columns(1 of 10);
      }
    }

    &__list {
      @include fill-parent();
      display: inline-block;
        @include media(max-width $width-medium) {
          position: static !important;
        }
      &__text {
        color: $light-gray;
        padding-bottom: .5em;
        font-size: .75em;
      }
      &__item {      
        color: $light-gray;
        width: 40px;
        height: 40px;
        font-size: 1em;
        border: 3px solid $light-gray;
        margin-bottom: -3px;
        float: left;
        @include transition(background-color .2s ease-out 0s);
        // @include transition(color .3s ease-out 0s);
        @include media(min-width $width-medium) {
          float: none;
        }
        & span {
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: white;
          @include transition(color .3s ease-out 0s);
          @include transition(background-color .3s ease-out 0s);
        }
        &--twitter:hover {
          background: $twitter-color;
        }
        &--facebook:hover {
          background: $facebook-color;
        }
        &--tumblr:hover {
          background: $tumblr-color;
        }
      }
    }
    &--bottom { /* This version appears at the end of post. */
        @include media($medium-screen) {
          display: none;
        }
        @include media($large-screen) {
          display: none; 
        }
        &__list {
          margin: 1.3em 0 2.2em 0;
          display: inline-block;
          display: inline-block;
          border: 4px solid $primary-color;
          padding: 1em .8em;
          @include fill-parent();
              @include media($large-screen) {
                @include span-columns(6 of 10);
                @include shift(2);
                padding: .9em .8em;
              }
          &__text {
            font-size: 1em;
            padding-bottom: .5em;
            padding-left: .2em;
            color: $primary-color;
            text-transform: none;
            &:after {
              content: "\2015";
              padding: 0 .5em;
            }
          }
          &__item {
            float: left;
            color: $primary-color;
            margin-right: .5em;
            font-size: 1.3em;
            &--twitter {
            color: $twitter-color;
            }
            &--facebook {
              color: $facebook-color;
            }
            &--tumblr {
              color: $tumblr-color;
            }
          }
        }
    }
  }
  &__footer { /* the content beneath a post */    
    @include fill-parent();
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 1em;
    @include media($medium-screen) {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    @include media($large-screen) {
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }
  &__navigation {
    width: 100%;
    @include media($medium-screen) { 
      @include span-columns(4 of 8);
      @include shift(1);
    }
    @include media($large-screen) {
      display: inline-block;
      @include shift(1);
      @include span-columns(4 of 10);
    }
    &--back {
      font-size: 1.3em;
      font-weight: bold;
      color: $mid-gray;
      @include link-hover;
      @include media(min-width $width-medium) {
        font-size: 1.1em;
      }
      &:hover {
        color: $secondary-color;
        @include link-hover;
      }
      &:before {
        font-family: 'FontAwesome';
        font-weight: normal;
        content: "\f053";
        color: $primary-color;
        padding-right: .8em;
      }
    }
  }
}

// FOOTER 

.footer {
  font-size: 1em;
  @include outer-container();
  padding: $page-padding;
    @include media(min-width $width-medium) {
      padding: 0;
    }
    @include media($medium-screen) {
      width: percentage(8 / 10);
    }
    @include media($large-screen) {
      width: percentage(10 / 12);
   }

  &__wrapper {
    @include fill-parent();
    display: inline-block;
    padding: 2em 0 0 0;
    border-top: 4px solid $primary-color;
    margin-top: 0em;
      @include media($medium-screen) {
        margin-top: 4em;
        padding: 1.5em 0 3em 0;
      }
      @include media($large-screen) {
        margin-top: 2em;
        padding: 2em 0 4em 0;
      }
    }

  &__column--left {
    font-size: .8em;
    @include fill-parent();
    @include media(min-width $width-medium) {
      float: left;
    }
    @include media($medium-screen) {
      @include fill-parent();
      // @include span-columns(5 of 8);
    }
    @include media($large-screen) {
      @include span-columns(6 of 10);
    }
  }

  &__column--right {
    @include fill-parent();
    
     @include media($medium-screen) {
      @include fill-parent();
      // @include span-columns(3 of 8);
      // float: right;
      // @include omega();
    }
    @include media($large-screen) {
      @include span-columns(4 of 10);
      float: right;
      @include omega();
    }
  }

   &__social {

    &__list {
      display: inline-block;
      margin-bottom: 1.5em;

      @include media($medium-screen) {
        // float: right;
      }
      @include media($large-screen) {
        float: right;
      }
    }

    &__item {
      float: left;
      font-size: 2em;
      margin-right: .8em;
      color: $mid-gray;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: $extra-light-gray;
        }
 
      @include media($medium-screen) {
        // font-size: 2em;
      }
      @include media($large-screen) {
        // font-size: 2em;
      }
    }
  } 
}