// LAYOUT

@mixin wrapped {
    padding: $page-padding;

    @include media($medium-screen) {
      @include span-columns(8 of 10);
      @include shift(1);
      padding: 0;
    }
    @include media($large-screen) {
     @include span-columns(10 of 12); 
     @include shift(1);
     padding: 0;
   }
}

.wrapped {
  @include wrapped;
}

@mixin content {
    padding-top: 2em;
    padding-left: $page-padding;
    padding-right: $page-padding;
    margin-bottom: $page-base-padding;
    @include outer-container();
    @include fill-parent();
    // @include animation-name(shimmy, fadeIn);
    @include animation-name(fadeIn);
    @include animation-duration(.4s);
    @include animation-timing-function(ease-);
    @include animation-fill-mode(forwards);

      @include media(max-width $width-medium - 1px) {
        display: inline-block;
      }
      @include media($medium-screen) {
        width: percentage(8 / 10);
        padding: 0;
      }
      @include media($large-screen) {
        padding: 0;
        width: percentage(10 / 12);
      }
    }