// site-NAVIGATION 
// responsive-nav.js 1.0.39 by @viljamis */

/* THIS IS WHERE TO EDIT THE ACTUAL BUTTON BEFORE YOU OPEN MENU. */

.nav-collapse {
  // position: absolute;
  width: 100%;
    @include media(min-width $medium-screen) {
    }
}

.nav-collapse ul { /* the wrapper around all nav elements */
  list-style: none;
  width: 100%;
  @include media(min-width $width-medium) {
    float: right;
    display: inline-block;
    text-align: right;
  }
  @include media($medium-screen) {
    width: percentage(5 / 8);
  }
  @include media($large-screen) {
    width: percentage(7 / 10);
  }
}
.nav-collapse li {
  width: 100%;
  display: block;
  padding: 1.1em 0;
  background: white;
  border-bottom: 1px solid $extra-light-gray;
  font-size: 1.2em;

  @include media(min-width $width-medium) {
      border: 0;
      display: inline-block;
      width: auto;
      padding: 1em 2em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    @include media($large-screen) {
      width: auto;
    }
  & a.nav-active {
      @include media(max-width $width-medium) {
        color: $secondary-color;
      }
      @include media(min-width $width-medium) {
        border-bottom: 3.5px solid $primary-color;
        padding-bottom: .2em;
        color: $secondary-color;
      }
    }
  
}

.nav-collapse a {
  color: $primary-color;
  display: block;
  text-align: center;
  /*width: 100%;*/
  @include media($medium-screen) {
    text-align: right;
  }
  @include media($large-screen) {
    text-align: right;
  }
  &:hover {
    @include media(min-width $width-medium) {
      border-bottom: 3.5px solid $primary-color;
      padding-bottom: .2em;
      color: $secondary-color;
    }
  }
}

.nav-collapse a:hover {
  // background: rgba(255,255,255, .1);
}
.nav-collapse .active a { 
  // color: #fff; 
  // background: rgba(0,0,0, .3);
}
.nav-collapse li:first-child a { 
  // border-width: 0;
}
.nav-collapse li:last-child a { 
  // border-width: 0; 
}
.nav-toggle { 
  display: none ;
}

/* THE FOLLOWING IS THE MENU WHEN IT IS CONDENSED. */

@media screen and (max-width: $width-medium - 1) {
  .js .nav-collapse {
    z-index: 9999;
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    // margin-bottom: 2em;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
    float: left;
  }
  .nav-collapse.opened { 
    max-height: 9999px;
  }
  .nav-collapse a:hover { 
    background: transparent; 
  }
  .nav-collapse .active a:hover { 
    color: #fff; background: rgba(0,0,0, .3); 
  }
  /* This is the button you click to toggle the menu.*/
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: $site-header-height;
    height: $site-header-height;
    float: right;
    display: block;
    background: transparent;
   /* margin: 0 -2em 1em 0;*/

 /* This is another option where you use bg-img for icon instead of webfont.*/   
 /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #f4421a url("hamburger.gif") no-repeat 50% 33%;*/
  }
  .nav-toggle:before {
    color: #444; /* Edit this to change the icon color */
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 20px;
    text-transform: none;
    position: absolute;
    content: "\f0c9";
    text-indent: 0;
    text-align: center;
    line-height: 50px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
  }
  .nav-toggle.active:before {
    content: "\00d7"; /*This is &times; instead of FontAwesome.*/
    // content: "\f00d";
    font-size: 33px;
    font-weight: bold;
    top: -3px;
    left: -1px;
  }
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    padding: 0 2em 2em;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main::-webkit-scrollbar { 
    background-color: transparent; 
  }
}

// BACK TO TOP

.cd-top {
  z-index: 9999;
  position: fixed;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: 50px;
  width: 50px;
  bottom: 15px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $light-gray url(/img/site/back_to_top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity .4s ease-in 0s, visibility 0s .3s);
    @include media(min-width $width-medium) {
      height: 35px;
      width: 35px;
      right: 25px;
      bottom: 25px;
    }
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  @include transition(background-color .2s linear 0s, opacity .2s ease-in 0s, visibility 0s 0s);
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .7;
}
// .cd-top.cd-fade-out {
//   /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
//   opacity: .5;
// }
.cd-top.cd-is-visible:hover {
  background-color: $secondary-color;
  opacity: .8;
  @include transition(background-color .2s linear 0s, opacity .2s ease-in 0s, visibility 0s 0s);
}
