// COLORS

.gray {
  color: $mid-gray;
}

.black {
  color: $black;
}


// FLOATS

.f {
  &--l {
    float: left;
  }
  &--r {
    float: right;
  }
}

// DISPLAY PROPERTIES

.display {
  &--ib {
    display: inline-block;
  }
  &--b {
    display: block;
  }
}